body{
/* background-image: url(https://image.shutterstock.com/image-photo/quasar-deep-space-elements-this-260nw-1758938918.jpg);
background-size:cover; */
display: flex;
margin:0px;
padding:0px;
align-items: stretch;
}
* {
  box-sizing: border-box;
}
.left-column{
display:flex;
flex-direction: column;
align-items: center;
justify-content:flex-start;
background-color: blue;
height: 900px;
width:400px;
}

.middle-column {
  display: flex;
  flex-direction: column;
  align-content: : center;

  background-color: grey;
}
 h1 {
  font-size: 30px;
  margin-left: 165px;
  margin-bottom: 6px;
 }
 .game-status {
   font-size: 20px;
   margin-left: 180px;
   margin-bottom:50px;
 }

.game-board {
  display:flex;
  background-color: red;
  flex-wrap:wrap;
  background-color:;
  align-items: center;
  justify-content: center;
  height:450px;
  width: 550px;
}

.box {
  margin:0px;
  padding:0;
  width: 150px;
  height: 150px;

}
.b0 {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

.b1 {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.b2 {
  border-bottom: 3px solid black;
}

.b3 {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.b4 {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

.b5 {
border-bottom: 3px solid black;
}

.b6 {
border-right: 3px solid black;

}
.b7 {
border-right: 3px solid black;
}



.right-column{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  background-color: green;
  height: 900px;
  width:400px;
}

.player-1-token {
  height:50px;
  width:50px;
}
.player-2-token{
  height:50px;
  width:55px;
}
