body{
display: flex;
margin:0px;
padding:0px;
align-items: stretch;
}
* {
  box-sizing: border-box;
}
.left-column{
display:flex;
flex-direction: column;
align-items: center;
justify-content:flex-start;
background-color: blue;
height: 900px;
width:400px;
}

.game-board {
  display:flex;
  flex-wrap:wrap;
  background-color:;
  align-items: center;
  margin-top: 150px;
  justify-content: center;
  height:450px;
  width: 550px;
}

.game-box {
  margin:0px;
  padding:0;
  width: 150px;
  height: 150px;
  /* border: 3px solid black; */
}
#pos-zero {
  border-right: 3px solid black;
  border-bottom: 3px solid black;
}

#pos-one {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

#pos-two {
  border-bottom: 3px solid black;
}

#pos-three {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

#pos-four {
  border-bottom: 3px solid black;
  border-right: 3px solid black;
}

#pos-five {
border-bottom: 3px solid black;
}

#pos-six {
border-right: 3px solid black;

}
#pos-seven {
border-right: 3px solid black;
}
#pos-eight {

}


.right-column{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content:flex-start;
  background-color: green;
  height: 900px;
  width:400px;
}

.player-1-token {
  height:50px;
  width:50px;
}
.player-2-token{
  height:50px;
  width:55px;
}
